<nav class="navbar">
  <div class="container">
    <div class="logo" (click)="router.navigate(['/'])">🏠 RentHub</div>

    <div class="menu-icon" (click)="toggleMenu()">☰</div>

    <ul class="nav-links" [class.open]="menuOpen">
      <li (click)="toggleMenu()"><a routerLink="/">Home</a></li>
      <li *ngIf="auth.isLoggedIn()" (click)="toggleMenu()"><a routerLink="/create-post">Create Post</a></li>
      <li *ngIf="!auth.isLoggedIn()" (click)="toggleMenu()"><a routerLink="/login">Login</a></li>
      <li *ngIf="!auth.isLoggedIn()" (click)="toggleMenu()"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="auth.isLoggedIn()"><button class="logout-btn" (click)="logout(); toggleMenu()">Logout</button></li>
    </ul>
  </div>
</nav>